.logo {
    width: 60%;
    height: 80px;
    margin: auto;
}

.name {
    text-align: center;
    font-size: 66px;
    text-shadow: 3px 5px grey, 1px 1px #333;
}

.img {
    width: 48%;
    height: 53%;
    margin: auto;
    margin-top: 38px;
}

.img img {
    width: 100%;
    height: 100%;
}

.search {
    width: 80%;
    height: 100px;
    margin: auto;
}

.noExtension {
    width: 60%;
    height: 100px;
    margin: auto;
    color: red;
    font-size: 23px;
}

#search_value {
    width: 80%;
    height: 50px;
    box-shadow: 3px 5px grey, 1px 1px #333;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateY(0deg);
    }
    75% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.logo_rotate {
    /*
    animation: rotate 10s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
        */
    /*  当动画结束时，让<div>元素保留上一个关键帧的样式值 */
}

.result_success {
    width: 60%;
    margin: auto;
    font-size: 22px
}

.result_faile {
    width: 60%;
    margin: auto;
    font-size: 22px
}

.add_banner {
    width: 80%;
    margin: auto;
}

p {
    text-indent: 2em;
    font-size: 30px;
}

.hide {
    display: none;
}

.contenner {
    background: url("img/bg.jpg");
    height: 1700px;
}

.author {
    text-align: right;
}

.author p {
    display: inline-block;
    font-size: 18px;
}

.qr_code>div {
    display: inline-block;
}

.qr_code>.display-none {
    display: none;
}

.transaction {
    margin-top: 1rem;
    display: none;
}

.-domain-content-panel {
    word-wrap: break-word;
}